forge1.12/*/tmp/
forge1.12/*/dumps/
forge1.12/*/logs/
forge1.12/*/mods/*.jar
forge1.12/*/mods/memory_repo/
forge1.12/*/mods/1.12.2/
forge1.12/*/saves/
forge1.12/*/screenshots/
forge1.12/*/server/
forge1.12/*/config/oxygen/data/client/worlds/
forge1.12/*/config/LostBooks/common/
forge1.12/*/config/LostBooks/unique/
forge1.12/*/journeymap/data/
forge1.12/*/journeymap/icon/
forge1.12/*/journeymap/journeymap.log
forge1.12/*/crafttweaker.log
forge1.12/*/fuzzycraft.skins
forge1.12/*/mapfrontiers/
forge1.12/*/ops.json
forge1.12/*/options.txt
forge1.12/*/optionsof.txt
forge1.12/*/oxygen/
forge1.12/*/patchouli_data.json
forge1.12/*/realms_persistence.json
forge1.12/*/server.properties
forge1.12/*/servers.dat
forge1.12/*/usercache.json
forge1.12/*/usernamecache.json
forge1.12/*/.mixin.out/
forge1.12/*/backups/
forge1.12/*/betweenlands_gallery/
forge1.12/*/generated/
forge1.12/*/llibrary/
forge1.12/*/astralsorcery/
forge1.12/*/crash-reports/
forge1.12/*/resourcepacks/
forge1.12/*/config/tellme/
forge1.12/*/woot/
