forge1.12/wilderness/dumps/
forge1.12/wilderness/logs/
forge1.12/wilderness/mods/
forge1.12/wilderness/saves/
forge1.12/wilderness/screenshots/
forge1.12/wilderness/server/
forge1.12/wilderness/crafttweaker.log
forge1.12/wilderness/fuzzycraft.skins
forge1.12/wilderness/hs_err_pid860.log
forge1.12/wilderness/ops.json
forge1.12/wilderness/options.txt
forge1.12/wilderness/optionsof.txt
forge1.12/wilderness/patchouli_data.json
forge1.12/wilderness/realms_persistence.json
forge1.12/wilderness/server.properties
forge1.12/wilderness/servers.dat
forge1.12/wilderness/usercache.json
forge1.12/wilderness/usernamecache.json
forge1.12/wilderness/.mixin.out/
forge1.12/wilderness/backups/
forge1.12/wilderness/betweenlands_gallery/
forge1.12/wilderness/generated/
forge1.12/wilderness/llibrary/
forge1.12/wilderness/astralsorcery/
forge1.12/wilderness/crash-reports/
forge1.12/wilderness/resourcepacks/
forge1.12/wilderness/config/tellme/
forge1.12/wilderness/woot/
